<ion-content [fullscreen]="false" >

  <ion-grid [fixed]="false" style="padding-top: 0%!important;">

    <ion-row style="padding-left: 2.5%!important; padding-bottom: 2.5%; padding-top: 2.5%">
      <ion-avatar>
        <img src="assets/ppp.jpeg" alt="Avatar">
      </ion-avatar>



      <ion-fab vertical="bottom" horizontal="end">
        <ion-fab-button (click)="toggleMenu()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
          <ion-fab-button (click)="menuItem1Action()">
            <ion-icon name="cog"></ion-icon>
          </ion-fab-button>
          <ion-fab-button (click)="menuItem1Action()">
            <ion-icon name="finger-print"></ion-icon>
          </ion-fab-button>
          <ion-fab-button (click)="menuItem2Action()">
            <ion-icon name="person-add"></ion-icon>
          </ion-fab-button>
          <ion-fab-button (click)="menuItem2Action()">
            <ion-icon name="pricetags"></ion-icon>
          </ion-fab-button>
          <ion-fab-button (click)="menuItem2Action()">
            <ion-icon name="folder-open"></ion-icon>
          </ion-fab-button>
          <!-- Add more menu items as needed -->

        </ion-fab-list>
      </ion-fab>

    </ion-row>

    <div>
      <img src="assets/bg-modified2.png" style=" padding-right: 2.5%;  padding-left: 2.5%; height: 150px; width: 100%;">
    </div>


    <ion-row >


      <ion-col  size="6"  *ngFor="let item of items; let i = index">
        <ion-card (click)="reroute(item.path)" style="background: #eaf2fc">
          <ion-card-header>
            <ion-card-title color="primary">{{item.name}}</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Here's a small text description
          </ion-card-content>
        </ion-card>
      </ion-col>



    </ion-row>
  </ion-grid>

</ion-content>

