.ion-avatar img {
  border-radius: 50%; /* Make the image round */
  width: 100%; /* Ensure the image fills the avatar container */
  height: 100%; /* Ensure the image fills the avatar container */
}

.rounded-image {
  border-radius: 30%; /* Make the image completely round */
  width: 150px; /* Adjust the width as needed */
  height: 150px; /* Adjust the height as needed */
}


