<ion-content [fullscreen]="false" >
  <ion-grid [fixed]="false" style="padding-top: 39%!important;">
    <ion-row >


      <ion-col  size="6"  *ngFor="let item of items; let i = index">
        <ion-card  style="background: #eaf2fc">
          <ion-card-header>
            <ion-card-title color="primary">{{item.name}}</ion-card-title>
          </ion-card-header>

          <ion-card-content (click)="reroute('products')">
            Here's a small text description
          </ion-card-content>
        </ion-card>
      </ion-col>



    </ion-row>
  </ion-grid>
</ion-content>

