<ion-content [fullscreen]="false">

  <img class="bottom-image" src="assets/eclipse.png">
  <img class="top-image" src="assets/img.png">

</ion-content>

<ion-content [fullscreen]="false" style="height: 100%">
  <ion-list style="padding-left: 5%; padding-right: 5%; padding-top: 10%; height: 100%">


    <ion-input label="Email" labelPlacement="floating" placeholder="Enter email"></ion-input>

    <ion-button style="padding-top: 1%; width: 100%" shape="round">Login</ion-button>


    <ion-text (click)="login()" class="center-element" color="primary" style="padding-top: 66.5%">
      <h6>Back to Login</h6>
    </ion-text>


  </ion-list>


</ion-content>
