<ion-content [fullscreen]="false">

  <img class="bottom-image" src="assets/eclipse.png">
  <img class="top-image" src="assets/img.png">

</ion-content>

<ion-content [fullscreen]="false" style="height: 100%">
  <ion-list style="padding-left: 5%; padding-right: 5%; padding-top: 1%; height: 100%">


    <ion-input label="First Name" labelPlacement="floating" placeholder="Enter first name"></ion-input>

    <ion-input label="Last Name" labelPlacement="floating" placeholder="Enter last name"></ion-input>

    <ion-input label="Phone Number" labelPlacement="floating" placeholder="Enter phone number"></ion-input>

    <ion-input label="Phone Number" labelPlacement="floating" placeholder="Enter phone number"></ion-input>

    <ion-input label="Password" type="password" labelPlacement="floating" placeholder=""></ion-input>

    <ion-button style="padding-top: 1%; width: 100%" shape="round">Create Account</ion-button>

    <ion-text (click)="login()" class="center-element" color="primary" style="padding-top: 10%">
      <h6>Back to Login</h6>
    </ion-text>




  </ion-list>


</ion-content>
